name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
jobs:
  quality-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Lint with flake8
        run: |
          # Запускаємо перевірку всіх файлів у поточній папці (.)
          # --count: рахувати помилки
          # --show-source: показувати саме той рядок коду, де помилка
          # --statistics: показати звіт 
          flake8 . --count --show-source --statistics

      - name: Run Unit Tests with pytest
        run: |
          pytest -v

  build-and-push:
    needs: quality-check

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Duild and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/my-app:latest
