name: GitHub Actions Demo

on:
  push:
    branches: [ "main", "master" ]

jobs:
  explore-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: Check out reporsitory code 
        uses: actions/checkout@v3
      - name: List files in the repository
        run: |
          echo "Зараз я покажу файли у цьому репозиторії:"
          ls -la
